body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.content {
  display: flex;
  flex-wrap: wrap;
}
.main {
  flex: 3 60rem;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 10px;
}

.product li {
  flex: 0 1 29rem;
  height: 47rem;
  padding: 1rem;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product .title {
  font-size: 1rem;
}
.product-price div {
  font-size: 2rem;
}
.product .price {
  font-size: 2rem;
}

.product-price div,
.product-price .myBtn {
  text-align: center;
  flex: 1;
}

.myBtn {
  padding: 1rem;
  border-radius: 0.1rem #c0c0c0 solid;
  background-color: #f0f0f0;
  cursor: pointer;
}
.color {
  cursor: inherit !important;
  pointer-events: none !important;
}

.filter {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem;
}

.filterCollapse {
  min-width: "100%";
  display: block;
  padding-bottom: 10px;
}

.Button {
  color: #f0f0f0;
}
